@model SimpleCRUD2.Models.HousekeepingModel

@{
    ViewBag.Title = "Index";
}

<h2>Welcome to the Housekeeping Chores List</h2>

@Html.DropDownListFor(m => m.PersonID, Model.People)

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th></th>
    </tr>

   <tr>
        <td>
            @Html.DisplayFor(model => model.FirstName)
        </td>

        @*this will give me the ability to edit/delete the person*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id= Model.PersonID }) |
            @Html.ActionLink("Details", "Details", new { id= Model.PersonID }) |
            @Html.ActionLink("Delete", "Delete", new { id= Model.PersonID })
        </td>
    </tr>


</table>
