@model SimpleCRUD2.Models.HousekeepingModel

@{
    ViewBag.Title = "Index";
}

<h2>Welcome to the Housekeeping Chores List</h2>

@*@Html.DropDownListFor(m => m.PersonID, Model.People)*@

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Chore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Day)
        </th>

        

        <th></th>
    </tr>

    @*@foreach (var item in Model.People)
    {*@
   <tr>
        <td>
            @Html.DisplayFor(model => model.FirstName)
        </td>
       <td>
           @Html.DisplayFor(model => model.Chore)
       </td>
       <td>
           @Html.DisplayFor(model => model.Day)
       </td>


        @*this will give me the ability to edit/delete the person*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = Model.People }) |
            @Html.ActionLink("Details", "Details", new { id = Model.People }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.People })
        </td>
    </tr>
    @*}*@

</table>
